@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin default-text-style {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

@mixin link-hover($font-size) {
    color: $colour-primary;
    border-bottom: 2px solid $colour-primary;
    font-size: $font-size;
    cursor: pointer;
}