//COLOUR VARIABLES

$colour-primary: #659dbd;
$colour-secondary: #fbeec1;
$colour-tertiary: #daad86;
$colour-text-default: #2c3e50;
 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px => 1rem = 10px
}

#app {
    @include default-text-style;
    width: 98vw; 
    margin: 1vh auto;
    height: 98vh;
  }