.header {
    padding: 5rem;
    height: 10vh;
    background-color: $colour-primary;

    @media only screen and (max-width: 45.625em) {
       height: 30vh;
       padding: 1rem;
    }
}


.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    @media only screen and (max-width: 45.625em) {
        padding: 1rem;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    li.router-link-exact-active > a {
        color: $colour-tertiary;
    }

    &__link:link,
    &__link:visited {
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem;
        color: white;


        @media only screen and (max-width: 21.56em) {
            font-size: 1.8rem;
        }
    
    } 
 
    &__link:hover,
    &__link:active {
        color: $colour-tertiary;
    }

    &__lang {
        display: flex;
        margin-left: auto;

        @media only screen and (max-width: 45.625em) {
           margin: 0 auto;
        }
    }

}   