

.static-popup {

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, .5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;


    .modal-wrapper {
        position: absolute;
    }

        
        .modal-container {
        @include default-text-style;
        width: 50vw; 
        height: 40vh;
        padding: 2rem 3rem;
        background-color:#fff;
        border-radius: 2rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        display: flex;


        @media only screen and (max-width: 68.125em) {
            width: 60vw;
            height: 50vh;   
            }

        @media only screen and (max-width: 51.875em) {
                width: 80vw;
            }

        @media only screen and (max-width: 36.25em) {
               width: 85vw;
            }

            @media only screen and (max-width: 33.125em) {
                width: 85vw;
                height: 70vh;
             }

        }


        .modal-body {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 2rem;

            @media only screen and (max-width: 36.25em) {
                flex-direction: column;
            }

            #cosnemap { 
                height: 18rem;
                width: 18rem; 
                border-radius: 2rem;
                box-shadow: 0 .5rem 1rem rgba(black, .5);
            }
        }


    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    } 

    &__close {
        &:link,
        &:visited {
            color: $colour-text-default;
            position: absolute;
            top: 2rem;
            right: 3rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            transform: translate(4px, -4px);
            @include link-hover(3.5rem);
        }
    }
}
