
 
.centrepiece {
    height: 88vh;
    position: relative;

    @media only screen and (max-width: 45.625em) {
        height: 70vh;
    }

    &__img {  
        display:block;
        width: 100%;
        height: 100%;
        background-image: radial-gradient( rgba($colour-tertiary, .2),rgba($colour-secondary, .5) ), url(../assets/cosne-1.jpg); 
        background-size: cover;
        background-position: top;
         
    } 

    &__message {
        @include absCenter;
        z-index: 1;
        font-size: 25rem;
         width: 100%;
         height: 100%;
        line-height: 5rem; 
        font-weight: bolder;
        text-align: center;
       background: rgba($colour-tertiary, .8);
        mix-blend-mode: multiply;
        white-space: nowrap;
        color: white;

        p {
            @include absCenter;
            text-shadow: 0 0 6px white;

        }

        @media only screen and (max-width: 84.375em) {
            font-size: 20rem;
        }

        @media only screen and (max-width: 68.125em) {
            font-size: 15rem;
        }
        @media only screen and (max-width: 51.875em) {
            font-size: 10rem;
        }

        @media only screen and (max-width: 36.25em) {
            font-size: 8rem;
        }

        @media only screen and (max-width: 30em) {
            font-size: 5rem;
        }
    }


}


