.month__day {

        width: 15%;  
        height: 15%;
        flex: 0 0 15%;
        position: relative;


        @media only screen and (max-width: 53.75em) {
            width: 25%;              
        }

        @media only screen and (max-width: 45.625em) {
            height: 5%;
        }

        &.revolvable {
            // flip over on hover
            perspective: 150rem; 
            -moz-perspective: 150rem;
            &:hover .front {
                transform: rotateY(-180deg);
        
            }
            &:hover .back {
                transform: rotateY(0);
            }

            .month__day__side {
              // flip over on hover
              transition: all .9s ease;
              position: absolute;
              top: 0;
              left: 0;
              backface-visibility: hidden;
            }

            .back {
                background-image: radial-gradient( rgba($colour-tertiary, .2),rgba($colour-secondary, .5) );            font-weight: bolder;
                transform: rotateY(180deg);
    
                &--text {

                    &--mobile {
                        display:none;
                        @media only screen and (max-width: 45.9375em) {
                            display:block;
                        }
                    }

                    &--desktop {
                        display:block;
                        @media only screen and (max-width: 45.9375em) {
                            display:none;
                        }

                    }
    
                    p {
                        font-size: 1.5rem;
                        width: 80%;
                        @include absCenter;

                        @media only screen and (max-width: 59.865em) {
                            font-size: 1.3rem;
                        }
                        @media only screen and (max-width: 55.6875em) {
                            @include link-hover(1.2rem);
                          }


                        a {
                            text-decoration: none;
                            font-size: inherit;
                            font-weight: inherit;
                            font-family: inherit;
                            color: inherit;
                            transition: all .2s ease;

                            &:hover {
                                @include link-hover(1.8rem);   
                    
                                @media only screen and (max-width: 71.5em) {
                                   @include link-hover(1.4rem);
                                }

                                @media only screen and (max-width: 55.6875em) {
                                   @include link-hover(1.3rem);
                                 }


                             }
                        }
                              
                    }
                   
                }
            }
        }

        &.non-revolvable {
            .back {
                display:none;
            }
        }


        &__side {
            box-shadow: 0 .5rem .5rem rgba(black, .1);
            border-radius: 1rem; 
            width: 100%;
            height: 100%;

            @media only screen and (max-width: 45.625em) {
                border-radius: .5rem;
            }
   
        }

        .front {

            @media only screen and (max-width: 45.625em) {
                position: relative;
                height: 100%;
            }

            &__date {
                border-radius: .5rem;
                background-image: radial-gradient( rgba($colour-tertiary, .2),rgba($colour-secondary, .5) );
                font-weight: bolder;
                font-size: 1.5rem;
                @media only screen and (max-width: 45.625em) {
                    height: 100%;
                }

            }

            &__event {


                                   
                @media only screen and (max-width: 45.625em) {
                    top: 0;
                    left: 0;
                    position: absolute;
                    height: 100%;
    
                }
                position: relative;
                height: 70%;
                width: 100%;

                   &--star {
                   position: absolute;
                   top: 50%;
                   left: 20%;
                   transform: translate(-50%, -50%);
                   background-image: radial-gradient( rgba($colour-tertiary, .5),rgba($colour-tertiary, .5) ); 
                   width: 45%;
                   height: 80%;
                   margin: 0 auto;
                   clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
       
       
                   p {
                        @include absCenter;
                       font-size: 1.5rem;
       
                   }
                   
                   @media only screen and (max-width: 45.625em) {
                    width: 55%;
                    height: 100%;
                   }

                   }
       
                   &--text {
                       p {
                           position: absolute;
                           top: 50%;
                           left: 65%;
                           transform: translate(-50%, -50%);
                           font-size: 1rem;
                       }

                       @media only screen and (max-width: 45.625em) {
                        display: none;
                    }
                   }
       
               }

        }



            

        
    

}