.events {
    background-color: white;
}

.year {
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 60vw; 
    flex-direction: row;
    margin: 5rem auto;
    justify-content: space-between;
    align-content: space-around;


    @media only screen and (max-width: 52.5em) {
        width: 80vw;
    } 


    @media only screen and (max-width: 33.125em) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 100vh;
        margin: 1rem auto;

    }
    

    &__month {
        width: 30%;
        height: 20%;
        border-radius: 1rem; 
        position: relative;
        box-shadow: 0 1rem 1rem rgba($colour-tertiary, .5);
        border: 2.5px solid rgba($colour-tertiary, .3); 

        @media only screen and (max-width: 33.125em) {
            width: 80%;
            height: 5%;
        }
        

        &--text {
            @include absCenter;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bolder;
            color: $colour-tertiary;
            
        }

        &:hover { 
            transform: translate(0px, 6px);
            transition: .1s;
            box-shadow: 0 .5rem .5rem rgba($colour-tertiary, .5);
        }
    }

}