
.modal-mask {
position: fixed;
z-index: 9998;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(black, 0.5);
display: table;
transition: opacity .3s ease;
} 

.modal-wrapper {
display: table-cell;
vertical-align: middle;

}

.modal-container {
width: 70vw;
height: 80vh;
margin: 0px auto;
padding: 2rem 3rem;
background-color:#fff;
border-radius: 2rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
display: flex;
flex-direction: column;
font-size: 2rem;

@media only screen and (max-width: 51.875em){
    flex-direction: column; 
    font-size: 2rem;
    width: 100vw;
    justify-content: space-around;
}

@media only screen and (max-width: 30em){
    flex-direction: column;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

}

.modal-header {
line-height: 2rem;
 text-transform: uppercase;
 margin-top: 0; 
 font-weight: bolder;
 background-image: radial-gradient( rgba($colour-tertiary, .2),rgba($colour-secondary, .5) );

}

.modal-body {
margin: 2rem 0;
@media only screen and (max-width: 51.875em){
    margin: 0 0;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 30em){
    flex-direction: column;
}

&--content {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    @media only screen and (max-width: 51.875em){
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    
    &-event {
        text-transform: uppercase;
        font-weight: bolder; 

        }
    }
}

.modal-footer {
    display: flex;
    justify-content: center;
    
}

.modal-footer-button {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba($colour-tertiary, .5);
    background-image: radial-gradient( rgba($colour-tertiary, .2),rgba($colour-secondary, .5) );
    box-shadow: 0rem .5rem .5rem rgba(black, .5);
    transition: all .5s ease;

    &:hover {
        transform: scale(1.15);
    }

    @media only screen and (max-width: 30em){
        padding: .5rem;
        font-size: 1.5rem;
    }
}

.modal-header,
.modal-footer {
    height: 5rem;
    display: grid;
    align-content: center;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
opacity: 0;
}

.modal-leave-active {
opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

