.month_overview {

    p {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 5rem;
    }

    .arrow {
        font-size: 7rem;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease;
    
        &.left-arrow {
            left: 5%;
            @media only screen and (max-width: 53.75em) {
                left: 30%;
            }

            @media only screen and (max-width: 41.875em) {
                left: 25%;
            }

            @media only screen and (max-width: 33.125em) {
                left: 15%;
            }


            @media only screen and (max-width: 23.75em) {
                left: 10%;
            }
        }
    
        &.right-arrow {
            left: 95%;

            @media only screen and (max-width: 53.75em) {
                left: 70%;
            }

            @media only screen and (max-width: 41.875em) {
                left: 75%;
            }

            @media only screen and (max-width: 33.125em) {
                left: 85%;
            }

            @media only screen and (max-width: 23.75em) {
                left: 90%;
            }
        }

        &:hover {
            @include link-hover(10rem);

            @media only screen and (max-width: 53.75em) {
                @include link-hover(4rem);
            }
        }

        @media only screen and (max-width: 53.75em) {
            top: 18%;
            font-size: 3rem;
        }

        @media only screen and (max-width: 45.625em) {
            top: 35.5%;
        }

    
    }
}

.month {
    height: 70vh; 
    width: 75vw;  

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto 10rem auto; 

   align-content: space-evenly;
   justify-content: space-between;

   @media only screen and (max-width: 53.75em) {
    width: 90vw;
}

}