<template>
  <div class="month__day" :class="[areEvents ? 'revolvable' : 'non-revolvable']">
    <div class="month__day__side front">
      <div class="front__date">{{date}}</div>
    
      <div class="front__event" v-if="areEvents">
        <div class="front__event--star">
          <p>{{events.length}}</p>
        </div> 
        <div class="front__event--text">
          <p>{{$t('eventsAwait')}}</p>
        </div> 
      </div>
    </div> 
    <div class="month__day__side back" v-if="areEvents">
        <div class="back--text">
            <p class="back--text--desktop"><a href="#" @click="displayModal">{{$t('letsGoDesktop')}}</a></p>
            <p class="back--text--mobile"><a href="#" @click="displayModal">{{$t('letsGoMobile')}}</a></p></div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["month", "date"],
  data(){
      return {
          areEvents: false
      };
  },
  computed: {
    ...mapGetters(["getEvents", "hasEvents"]),
    events() {
      let events = this.getEvents(this.month, this.date);
      // not sure if necessary for now
      // const result = events.map(function(item) {
      //   return (({ date, ...others }) => ({ ...others }))(item);
      // });
       return events;
    }
  },
  methods: {
    displayModal(){
      this.$emit('displayModal', this.events, this.date);
    }
  },
  created() {
      this.areEvents = this.hasEvents(this.date, this.month);
  }
};
</script>