<template>
  <div class="events">
    <div class="year">
      <router-link
        class="year__month"
        v-for="(month, index) in months"
        :key="index"
        tag="div"
        :to="{name: 'month', params: {month: month}}">
        <p class="year__month--text">
          {{$t(month)}}
          </p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState({
      months: state => state.calendar.map(month => month.name)
    }),
    ...mapActions(["updateToLeapYear"])
  },
  created() {
    let currentYear = new Date().getFullYear();
    if (
      (currentYear % 4 == 0 && currentYear % 100 != 0) ||
      currentYear % 400 == 0
    ) {
      this.updateToLeapYear;
    }
  }
};
</script>
