<template>
  <div class="header" id="header">
    <ul class="nav">
      <router-link to="/" tag="li" exact>
        <a class="nav__link">{{$t('home')}}</a>
      </router-link>
      <router-link to="/events" tag="li">
        <a class="nav__link">{{$t('events')}}</a>
      </router-link>
      <li>
        <a href="#popup" class="nav__link">{{$t('aboutCosne')}}</a>
      </li>

      <div class="nav__lang">
        <li class="nav__item">
          <a href="#" class="nav__link flag" @click="changeLocale(language.fr)">
            <flag iso="fr" />
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link flag" @click="changeLocale(language.en)">
            <flag iso="gb" />
          </a>
        </li>
      </div>
    </ul>
    <div class="static-popup" id="popup">
      <div class="modal-wrapper">
        <a href="#header" class="static-popup__close">&times;</a>
        <div class="modal-container">
          <div class="modal-body">
            <div class="modal-body__content" v-html="$t('cosneBlurb')"></div>
            <div class="cosne__map">
              <div id="cosnemap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      language: {
        en: "en",
        fr: "fr"
      }
    };
  },
  methods: {
    changeLocale(language) {
      this.$i18n.locale = language;
    }
  },
    mounted() {
    var mymap = L.map("cosnemap").setView([47.4114696, 2.922005], 13);

    L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap); 

    var marker = L.marker([47.4114696, 2.922005]).addTo(mymap);
  }
};
</script>
 <style lang="sass" scoped>

</style>
