<template>
<div id="home">
    <app-centrepiece></app-centrepiece>
</div>
</template>

<script>
import Centrepiece from "./Centerpiece.vue";
export default {
  components: {
    appCentrepiece: Centrepiece
  }
};
</script>