<template>
<transition name="modal">
<div class="modal-mask">
  <div class="modal-wrapper">
    <div class="modal-container">



    <div class="modal-header">
    <slot name="modal-header">This is the default header!</slot>
    </div>

    
    <div class="modal-body">
    <slot name="modal-body">I'm the default body!</slot>
    </div>

    <div class="modal-footer">
    <slot name="modal-footer"><a class="modal-footer-button" @click="close">{{$t('close')}}</a></slot>
    </div>


</div>

  </div>
</div>
</transition>
</template>

<script>
export default {
  name: 'modal',
  methods: {
    close() {
      this.$emit('close');
    }
  }
    
}
</script>