<template>
  <!-- have to bind dynamic previousMonth to this component for getDaysInMonth() method to be re-rendered -->
  <div class="month_overview" :key="previousMonth">
    <router-link tag="div" :to="{name: 'month', params: {month:  previousMonth}}">
      <p class="arrow left-arrow">&lt;</p>
    </router-link>
    <router-link tag="div" :to="{name: 'month', params: { month: followingMonth}}">
      <p class="arrow right-arrow">&gt;</p>
    </router-link>
    <p>{{ $t(month)}}</p>

    <div class="month">
      <app-day
        :date="date"
        :month="month"
        v-for="(date, index) in getDaysInMonth(month)"
        :key="index"
        @displayModal="displayModal"
      ></app-day>
    </div>
    <appModal v-if="isModalVisible" @close="isModalVisible = false">
      <template v-slot:modal-header>{{ $t('today') }}</template>
      <template v-slot:modal-body>
        <div class="modal-body--content" v-for="(event, index) in events" :key="index">
        <div class="modal-body--content-event">{{event.title}}</div>
        <div class="modal-body--content-location">
          <img src="../assets/svg/location-pin.svg">
          {{event.location}}
          </div>
        <div class="modal-body--content-time">
          <img src="../assets/svg/clock.svg">
          {{event.time}}</div>
        </div></template>
    </appModal>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import Day from "../components/Day";
import Modal from "../components/Modal";

export default {
  props: ["month"],
  data() {
    return {
      previousMonth: null,
      followingMonth: null,
      isModalVisible: false,
      events: [],
      date: null
    };
  },
  computed: {
    ...mapGetters(["getDaysInMonth", "getSurroundingMonths"])
  },
  components: {
    appDay: Day,
    appModal: Modal
  },
  created() {
    this.initialiseData();
  },
  // need to call this for component data to be initialised when switch between months
  watch: {
    $route(to, from) {
      this.initialiseData();
    }
  },
  methods: {
    initialiseData() {
      let months = this.getSurroundingMonths(this.month);
      this.previousMonth = months.previousMonth;
      this.followingMonth = months.followingMonth;
    },
    displayModal(events, date){
      this.events = events;
      this.date = date;
      this.isModalVisible = true;
    }
  }
};
</script>