*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 98vw;
  margin: 1vh auto;
  height: 98vh; }

.header {
  padding: 5rem;
  height: 10vh;
  background-color: #659dbd; }
  @media only screen and (max-width: 45.625em) {
    .header {
      height: 30vh;
      padding: 1rem; } }

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center; }
  @media only screen and (max-width: 45.625em) {
    .nav {
      padding: 1rem;
      flex-direction: column;
      height: 100%;
      justify-content: space-around; } }
  .nav li.router-link-exact-active > a {
    color: #daad86; }
  .nav__link:link, .nav__link:visited {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem;
    color: white; }
    @media only screen and (max-width: 21.56em) {
      .nav__link:link, .nav__link:visited {
        font-size: 1.8rem; } }
  .nav__link:hover, .nav__link:active {
    color: #daad86; }
  .nav__lang {
    display: flex;
    margin-left: auto; }
    @media only screen and (max-width: 45.625em) {
      .nav__lang {
        margin: 0 auto; } }

.static-popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .static-popup .modal-wrapper {
    position: absolute; }
  .static-popup .modal-container {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 50vw;
    height: 40vh;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all .3s ease;
    display: flex; }
    @media only screen and (max-width: 68.125em) {
      .static-popup .modal-container {
        width: 60vw;
        height: 50vh; } }
    @media only screen and (max-width: 51.875em) {
      .static-popup .modal-container {
        width: 80vw; } }
    @media only screen and (max-width: 36.25em) {
      .static-popup .modal-container {
        width: 85vw; } }
    @media only screen and (max-width: 33.125em) {
      .static-popup .modal-container {
        width: 85vw;
        height: 70vh; } }
  .static-popup .modal-body {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem; }
    @media only screen and (max-width: 36.25em) {
      .static-popup .modal-body {
        flex-direction: column; } }
    .static-popup .modal-body #cosnemap {
      height: 18rem;
      width: 18rem;
      border-radius: 2rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  .static-popup:target {
    opacity: 1;
    visibility: visible; }
  .static-popup:target .static-popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .static-popup__close:link, .static-popup__close:visited {
    color: #2c3e50;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .static-popup__close:hover {
    transform: translate(4px, -4px);
    color: #659dbd;
    border-bottom: 2px solid #659dbd;
    font-size: 3.5rem;
    cursor: pointer; }

.centrepiece {
  height: 88vh;
  position: relative; }
  @media only screen and (max-width: 45.625em) {
    .centrepiece {
      height: 70vh; } }
  .centrepiece__img {
    display: block;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(218, 173, 134, 0.2), rgba(251, 238, 193, 0.5)), url(../assets/cosne-1.jpg);
    background-size: cover;
    background-position: top; }
  .centrepiece__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25rem;
    width: 100%;
    height: 100%;
    line-height: 5rem;
    font-weight: bolder;
    text-align: center;
    background: rgba(218, 173, 134, 0.8);
    mix-blend-mode: multiply;
    white-space: nowrap;
    color: white; }
    .centrepiece__message p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 6px white; }
    @media only screen and (max-width: 84.375em) {
      .centrepiece__message {
        font-size: 20rem; } }
    @media only screen and (max-width: 68.125em) {
      .centrepiece__message {
        font-size: 15rem; } }
    @media only screen and (max-width: 51.875em) {
      .centrepiece__message {
        font-size: 10rem; } }
    @media only screen and (max-width: 36.25em) {
      .centrepiece__message {
        font-size: 8rem; } }
    @media only screen and (max-width: 30em) {
      .centrepiece__message {
        font-size: 5rem; } }

.month__day {
  width: 15%;
  height: 15%;
  flex: 0 0 15%;
  position: relative; }
  @media only screen and (max-width: 53.75em) {
    .month__day {
      width: 25%; } }
  @media only screen and (max-width: 45.625em) {
    .month__day {
      height: 5%; } }
  .month__day.revolvable {
    perspective: 150rem;
    -moz-perspective: 150rem; }
    .month__day.revolvable:hover .front {
      transform: rotateY(-180deg); }
    .month__day.revolvable:hover .back {
      transform: rotateY(0); }
    .month__day.revolvable .month__day__side {
      transition: all .9s ease;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden; }
    .month__day.revolvable .back {
      background-image: radial-gradient(rgba(218, 173, 134, 0.2), rgba(251, 238, 193, 0.5));
      font-weight: bolder;
      transform: rotateY(180deg); }
      .month__day.revolvable .back--text--mobile {
        display: none; }
        @media only screen and (max-width: 45.9375em) {
          .month__day.revolvable .back--text--mobile {
            display: block; } }
      .month__day.revolvable .back--text--desktop {
        display: block; }
        @media only screen and (max-width: 45.9375em) {
          .month__day.revolvable .back--text--desktop {
            display: none; } }
      .month__day.revolvable .back--text p {
        font-size: 1.5rem;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media only screen and (max-width: 59.865em) {
          .month__day.revolvable .back--text p {
            font-size: 1.3rem; } }
        @media only screen and (max-width: 55.6875em) {
          .month__day.revolvable .back--text p {
            color: #659dbd;
            border-bottom: 2px solid #659dbd;
            font-size: 1.2rem;
            cursor: pointer; } }
        .month__day.revolvable .back--text p a {
          text-decoration: none;
          font-size: inherit;
          font-weight: inherit;
          font-family: inherit;
          color: inherit;
          transition: all .2s ease; }
          .month__day.revolvable .back--text p a:hover {
            color: #659dbd;
            border-bottom: 2px solid #659dbd;
            font-size: 1.8rem;
            cursor: pointer; }
            @media only screen and (max-width: 71.5em) {
              .month__day.revolvable .back--text p a:hover {
                color: #659dbd;
                border-bottom: 2px solid #659dbd;
                font-size: 1.4rem;
                cursor: pointer; } }
            @media only screen and (max-width: 55.6875em) {
              .month__day.revolvable .back--text p a:hover {
                color: #659dbd;
                border-bottom: 2px solid #659dbd;
                font-size: 1.3rem;
                cursor: pointer; } }
  .month__day.non-revolvable .back {
    display: none; }
  .month__day__side {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 45.625em) {
      .month__day__side {
        border-radius: .5rem; } }
  @media only screen and (max-width: 45.625em) {
    .month__day .front {
      position: relative;
      height: 100%; } }
  .month__day .front__date {
    border-radius: .5rem;
    background-image: radial-gradient(rgba(218, 173, 134, 0.2), rgba(251, 238, 193, 0.5));
    font-weight: bolder;
    font-size: 1.5rem; }
    @media only screen and (max-width: 45.625em) {
      .month__day .front__date {
        height: 100%; } }
  .month__day .front__event {
    position: relative;
    height: 70%;
    width: 100%; }
    @media only screen and (max-width: 45.625em) {
      .month__day .front__event {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%; } }
    .month__day .front__event--star {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
      background-image: radial-gradient(rgba(218, 173, 134, 0.5), rgba(218, 173, 134, 0.5));
      width: 45%;
      height: 80%;
      margin: 0 auto;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .month__day .front__event--star p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem; }
      @media only screen and (max-width: 45.625em) {
        .month__day .front__event--star {
          width: 55%;
          height: 100%; } }
    .month__day .front__event--text p {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      font-size: 1rem; }
    @media only screen and (max-width: 45.625em) {
      .month__day .front__event--text {
        display: none; } }

.events {
  background-color: white; }

.year {
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 60vw;
  flex-direction: row;
  margin: 5rem auto;
  justify-content: space-between;
  align-content: space-around; }
  @media only screen and (max-width: 52.5em) {
    .year {
      width: 80vw; } }
  @media only screen and (max-width: 33.125em) {
    .year {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      height: 100vh;
      margin: 1rem auto; } }
  .year__month {
    width: 30%;
    height: 20%;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(218, 173, 134, 0.5);
    border: 2.5px solid rgba(218, 173, 134, 0.3); }
    @media only screen and (max-width: 33.125em) {
      .year__month {
        width: 80%;
        height: 5%; } }
    .year__month--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bolder;
      color: #daad86; }
    .year__month:hover {
      transform: translate(0px, 6px);
      transition: .1s;
      box-shadow: 0 0.5rem 0.5rem rgba(218, 173, 134, 0.5); }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  width: 70vw;
  height: 80vh;
  margin: 0px auto;
  padding: 2rem 3rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 2rem; }
  @media only screen and (max-width: 51.875em) {
    .modal-container {
      flex-direction: column;
      font-size: 2rem;
      width: 100vw;
      justify-content: space-around; } }
  @media only screen and (max-width: 30em) {
    .modal-container {
      flex-direction: column;
      height: 100vh;
      flex-wrap: nowrap;
      justify-content: space-evenly; } }

.modal-header {
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: bolder;
  background-image: radial-gradient(rgba(218, 173, 134, 0.2), rgba(251, 238, 193, 0.5)); }

.modal-body {
  margin: 2rem 0; }
  @media only screen and (max-width: 51.875em) {
    .modal-body {
      margin: 0 0;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; } }
  @media only screen and (max-width: 30em) {
    .modal-body {
      flex-direction: column; } }
  .modal-body--content {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 51.875em) {
      .modal-body--content {
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; } }
    .modal-body--content-event {
      text-transform: uppercase;
      font-weight: bolder; }

.modal-footer {
  display: flex;
  justify-content: center; }

.modal-footer-button {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(218, 173, 134, 0.5);
  background-image: radial-gradient(rgba(218, 173, 134, 0.2), rgba(251, 238, 193, 0.5));
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all .5s ease; }
  .modal-footer-button:hover {
    transform: scale(1.15); }
  @media only screen and (max-width: 30em) {
    .modal-footer-button {
      padding: .5rem;
      font-size: 1.5rem; } }

.modal-header,
.modal-footer {
  height: 5rem;
  display: grid;
  align-content: center; }

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/
.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.month_overview p {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 5rem; }

.month_overview .arrow {
  font-size: 7rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease; }
  .month_overview .arrow.left-arrow {
    left: 5%; }
    @media only screen and (max-width: 53.75em) {
      .month_overview .arrow.left-arrow {
        left: 30%; } }
    @media only screen and (max-width: 41.875em) {
      .month_overview .arrow.left-arrow {
        left: 25%; } }
    @media only screen and (max-width: 33.125em) {
      .month_overview .arrow.left-arrow {
        left: 15%; } }
    @media only screen and (max-width: 23.75em) {
      .month_overview .arrow.left-arrow {
        left: 10%; } }
  .month_overview .arrow.right-arrow {
    left: 95%; }
    @media only screen and (max-width: 53.75em) {
      .month_overview .arrow.right-arrow {
        left: 70%; } }
    @media only screen and (max-width: 41.875em) {
      .month_overview .arrow.right-arrow {
        left: 75%; } }
    @media only screen and (max-width: 33.125em) {
      .month_overview .arrow.right-arrow {
        left: 85%; } }
    @media only screen and (max-width: 23.75em) {
      .month_overview .arrow.right-arrow {
        left: 90%; } }
  .month_overview .arrow:hover {
    color: #659dbd;
    border-bottom: 2px solid #659dbd;
    font-size: 10rem;
    cursor: pointer; }
    @media only screen and (max-width: 53.75em) {
      .month_overview .arrow:hover {
        color: #659dbd;
        border-bottom: 2px solid #659dbd;
        font-size: 4rem;
        cursor: pointer; } }
  @media only screen and (max-width: 53.75em) {
    .month_overview .arrow {
      top: 18%;
      font-size: 3rem; } }
  @media only screen and (max-width: 45.625em) {
    .month_overview .arrow {
      top: 35.5%; } }

.month {
  height: 70vh;
  width: 75vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 10rem auto;
  align-content: space-evenly;
  justify-content: space-between; }
  @media only screen and (max-width: 53.75em) {
    .month {
      width: 90vw; } }
