<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Home from "./components/Home.vue";
export default {
  name: "app",
  components: {
    appHeader: Header,
    appHome: Home
  }
};
</script>
